* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content:center;
    align-items:center;
}

.btn {
    border-radius: 200px;
    border:none;
    background-color: lightblue;
    text-decoration:;
    list-style: none;
    padding: 12px;
    color: white;
}

.out{
    color: white;
    padding-left: 10px;
}
.logo img {
    height: 70px;
    width: 70px;
    border-radius: 300px;
}
.search{
border-radius: 25px; 
padding: 10px;
width: 20%;
border-color: rgb(255, 0, 115);

}
.button{
    border-color: purple;
    padding: 12px;
    color: purple;
    
}


.first{
    
}
.burger{
    display: none;
position: absolute;
cursor: pointer;
right: 5px;
top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
    
    
}

.first{
    padding-top: 60px;
}
.navbar{
    background-color: rgb(147, 205, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}


.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
   
}

.nav-list li a {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    text-decoration: none;
    padding: 14px;
    color: white;
    flex-direction: column;
}
.button{
    background: transparent;
}

@media only screen and (max-width:1148px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    h.nav{
        height: 72px;
    }
}
